.md-radio-button {
    box-sizing: border-box;
    display: block;
    margin-bottom: 16px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}

.md-radio-button .md-container:before {
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 50%;
    content: "";
    position: absolute;
    display: block;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    width: auto;
}

.md-radio-group .md-checked:not([disabled]) .md-ink-ripple {
    color: rgba(16,108,200,0.26);
}

.md-radio-group:not([disabled]) .md-checked .md-off {
    border-color: rgba(16,108,200,0.87);
}

.md-radio-button .md-off, .md-radio-button .md-on {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.md-radio-button .md-off {
    border-style: solid;
    border-width: 2px;
    -webkit-transition: border-color .28s ease;
    transition: border-color .28s ease;
}

.md-radio-group .md-checked:not([disabled]) .md-ink-ripple {
    color: rgba(16,108,200,0.26);
}

.md-radio-group:not([disabled]) .md-on {
    background-color: rgba(16,108,200,0.87);
}

.md-radio-button.md-checked .md-on {
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

.md-radio-button .md-label {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    margin-left: 30px;
    margin-right: 0;
    vertical-align: middle;
    white-space: normal;
    pointer-events: none;
    width: auto;
}

.md-radio-button .md-on {
    -webkit-transition: -webkit-transform .28s ease;
    transition: -webkit-transform .28s ease;
    transition: transform .28s ease;
    transition: transform .28s ease,-webkit-transform .28s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.md-radio-button .md-container .md-ripple-container {
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    left: -15px;
    top: -15px;
    right: -15px;
    bottom: -15px;
}

.md-radio-button .md-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-sizing: border-box;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    left: 0;
    right: auto;
}

.md-radio-button .md-off {
    border-color: rgba(0,0,0,0.54);
}