.container-canvas {
    display: flex;
    justify-content: center;
}

.wrap-btn {
    display: flex;
    justify-content: space-between;
}

.wrap-btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-draw-text {
    align-self: flex-start;
}