body {
  font-family: sans-serif;
  margin: 0;
}
html, body, #root, .App, .mdc-drawer-app-content {
  height: 100%;
}

.wrap-checkbox {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.center {
  display: flex;
  justify-content: center;
}

.flex-b {
  display: flex;
  justify-content: center;
  padding: 14px;
}

.gm-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-drawer {
  padding: 46px 0 0 0;
}

.app-drawer .menu-toggle {
  background: #fff;
}

.side-bar {
  padding: 0;
  margin: 0;
  list-style: none;
}