body {
  font-family: sans-serif;
}

.wrap-checkbox {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.center {
  display: flex;
  justify-content: center;
}

.flex-b {
  display: flex;
  justify-content: center;
  padding: 14px;
}

.gm-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}